@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */
}
.main {
  background-image: url("assets/images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
  background-size: max(1200px, 100vw);
}
.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.69;
  background-color: black;
  position: absolute;
  top: 0;
}
body {
  background-color: black;
}
nav {
  max-width: 60vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 16px 0px;
}
nav img {
  color: red;
  width: 130px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 20px;
  padding: 0 30px;
}
.hero > :first-child {
  font-weight: bolder;
  font-size: 56px;
}
.hero > :nth-child(2) {
  font-weight: 500;
  font-size: 20px;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 16px;
}
.seperation {
  height: 7px;
  background-color: rgb(62, 62, 62);
  position: relative;
  z-index: 20;
}
.btn {
  padding: 3px 8px;
  font-weight: 400;
  background-color: rgba(23, 23, 23, 0.089);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}
.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.main input {
  padding: 8px 92px 8px 9px;
  font-weight: 400;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(233, 226, 226, 0.5);
  color: white;
}
.red-btn {
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 400;
}
.btn-red-sm {
  background-color: red;
  color: white;
}

.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  align-items: center;
  /* flex-wrap: wrap; */
}

.secImg img {
  width: 555px;
  position: relative;
  z-index: 10;
}
.secImg {
  position: relative;
  top: 0;
  padding-left: 20px;
}
.secImg video {
  position: absolute;
  top: 51px;
  right: 0;
  width: 555px;
}
section.first > div {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  padding: 34px 0px;
}
.first > div :first-child {
  font-size: 42px;
  font-weight: bolder;
  /* padding: 34px,0px; */
}
.first > div :nth-child(2) {
  font-size: 20px;
  color: white;
}
.faq h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
}
.faq {
  background-color: black;
  color: white;
  padding: 34px;
  font: size 20px; ;
}
.faqbox:hover {
  background-color: gray;
}
.faqbox {
  transition: all 1s ease-out;
  display: flex;
  background-color: rgb(43, 43, 43);
  padding: 21px;
  font-family: "Poppins", sans-serif;
  max-width: 60vw;
  margin: 34px auto;
  justify-content: space-between;
  cursor: pointer;
}
.questions {
  /* margin: 2px 30vw; */
  /* text-align: center; */
  font-size: 15px;
  padding: 34px 0px;
}
footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  font-family: "Poppins", sans-serif;
  padding: 14px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 23px;
}
.footer a {
  font-size: 14px;
  color: white;
}
@media screen and (max-width: 1300px) {
  .first {
    flex-wrap: wrap;
  }
  .secImg img {
    width: 305px;
  }
  .secImg video {
    width: 305px;
  }
  .hero > :first-child {
    font-size: 32px;
  }
  .hero > :nth-child(2) {
    font-size: 18px;
  }
  .hero > :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
  }
  
  nav{
    max-width: 90vw;
  }
  .hero-buttons {
  flex-direction: column;
  }
  .faq h2 {
    font-size: 32px;
  }
  footer{
    max-width: 90vw;
  }
  .footer-item{
    align-items: center;
  }
}
@media screen and (max-width: 1300px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    /* color: white; */
  }
}
